<div class="col-xl-12 bg-autohaus text-white" style="height: 600px;">
<div class="row p-5 h-100">
  <div class="col-md-6">
    <div class="row h-100">
      <div class="col-md-12">
        <div class="row p-2">
          <div class="col-md-12">
            <h2>Locate Us</h2>
          </div>
        </div>
        <div class="row h-75">
          <div class="col-md-6">
            <div id="map"></div>
          </div>
          <div class="col-md-6">
            <h4>Address</h4>
            <address>
              <strong>AutoHaus Prestige Automobiles</strong>
              <p>33421 Luxury Way, Melbourne, 3001</p>
            </address>
            <h4>Trading Hours</h4>
            <p>Monday: 8:00AM - 8:00PM</p>
            <p>Tuesday: 8:00AM - 8:00PM</p>
            <p>Wednesday: 8:00AM - 8:00PM</p>
            <p>Thursday: 8:00AM - 11:00PM</p>
            <p>Friday: Open 24 Hours <br>(Opens 12AM)</p>
            <p>Saturday: Open 24 Hours <br>(Closes 12AM Sunday)</p>
            <p>Sunday: 8:00AM - 6:00PM</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 foot-contact">
    <div class="row">
      <div class="col-md-12">
        <div class="row p-2">
          <div class="col-md-12">
            <h2>Contact Us</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="ah-error-box_1" class="ah-error-box" style="">
              <strong>Error!</strong> - Please make sure you have entered your details correctly.
            </div>
            <div id="ah-success-box_1" class="ah-success-box" style="">
              <strong>Success!</strong> - Your message was send successfully, It may take up to 2 business days for a reply.
            </div>
            <form id="ah-contact-us" class="autohaus-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputFullName">Full Name</label>
                  <input name="fname" type="text" class="form-control" id="inputFullName" placeholder="John Doe">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputEmail">Email</label>
                  <input name="email" type="email" class="form-control" id="inputEmail" placeholder="john.doe@example.com">
                </div>
              </div>
              <div class="form-group">
                <label for="inputNumber">Telephone</label>
                <input name="tnum" type="number" class="form-control" id="inputNumber" placeholder="0400 000 000">
              </div>
              <div class="form-group">
                <label for="inputMessage">Message</label>
                <textarea name="msg" class="form-control" id="inputMessage" maxlength="255" rows="6" max
                  placeholder="Your Message..."></textarea>
              </div>
              <button type="submit" class="btn btn-primary float-right">Send Message</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="col-md-12 bg-autohaus d-flex justify-content-center align-items-center text-white" style="">
  <div class="row">
    <div class="col-md-12">
      <div class="logo-footer">AutoHaus</div>
      <p class="font-mont">&copy; AutoHaus Prestige Automobiles <span id="copydate">0000</span></p>
    </div>
  </div>
</div>
</div>
<!-- End Container -->

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<% if(finance) { %>
  <script src="/js/main.js" data-calculator="valid"></script>
<% } else { %>
  <script src="/js/main.js"></script>
<% } %>

<!-- <script src="/js/main.js" <% if(finance && finance != null && typeof finance != "undefined") { %> data-calculator="valid" <% } %></script> -->

<!-- Page Related -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOP4fWeP3UjF2n0sIR5lv0uCxKBg8TBiI&callback=initMap" async
  defer></script>